<%= f.label "Status" , :class => "control-label"%>
  <div class="controls">

    <% if for_show %>
      <%= f.label :role, "#{@profile.user.role}", :class => "checkbox inline"%>
      <%= f.check_box :role, checked: "checked", disabled: "true"%>
    <% else %>

      <% if can? :manage, :all %>
        <%= f.select(:role, User.role.options( except: [:guest]))%>
      <% end %>
    
    <% end %>
  </div>
<br>