<% if can? :create, Advertisement %>
  <%= link_to "New ads", new_advertisement_path, :class => "btn btn-primary" %>
<% end %>

<%= render partial: "ads", collection: @adss%>

<%= form_for @adss do |f| %>
  
<% end %>

<% unless @adss.total_pages == 1%>
  <div class="apple_pagination">
    <%= will_paginate @adss %>
  </div>
<% end %>