.ads {
  padding: 10px;
  margin-top: 10px;
  border: solid black 2px;
}

.ads-title {
  width: 80%;
}

.ads-text {
  height: 100px;
  width: 600px;
}

.ads-contact {
  width: 600px;
  height: 20px;
}

.ads-price {
  width: 600px;
  height: 20px;
}

.ads-time {
  width: 600px;
  height: 20px;
}

#facets {
  border: solid 3px #40558F;
  background-color: #B1CAE6;
  padding: 10px;
  font-size: 18px;
}